@model DotNetWebStudentCatalog.Models.Entity.StudentModel

@{
    ViewBag.Title = "Create";

    //blank CSS
    //Layout = "";
}

<h2>Create</h2>

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.Partial("_CreateEdit")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" id="createSave" />
            </div>
        </div>
    }
</div>



