@model DotNetWebStudentCatalog.Models.Entity.StudentModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(a => a.StudentModelId)

        @Html.Partial("_CreateEdit")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" id="createSave" />
            </div>
        </div>
    }
</div>



